#container{
    width: 65%;
    margin: 30px auto;
}

#banner{
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: rgb(54, 124, 255);
    font-family: 'Anuphan', sans-serif;
    color: white;
    height: 15%;
}

#author{
    color: rgb(54, 124, 255) ;
}

#photo_description{
    font-size: 0.8rem;
}

.highlighted{
    background-color: yellow;
}

.list{
    padding: 0;
}

thead{
    background-color: rgb(54, 124, 255) ;
}

#third_column{
    width: 50% ;
}

.colored{
    background-color: cornflowerblue;
}

footer > h3{
    color: dimgray;
}

footer > div{
    height: 200px;
    width: 300px;
    margin: 10px;
    color: white;
    padding: 10px;
}

#first_advised{
    background-image: url(../img/monitor.jpg);
}

#second_advised{
    background-image: url(../img/graph.jpg);
}